<div class="card-header">
  <div class="text-center actions">
    <button uib-tooltip="Edit"
            ng-if="!route.$editMode"
            ng-click="editRoute(route)"
            tooltip-placement="bottom"
            class="btn btn-default"
            tooltip-animation="false">
      <i class="fa fa-pencil text-info fa-lg"></i>
    </button>
    <button uib-tooltip="Delete"
            ng-if="!route.$editMode"
            ng-click="deleteRoute(route)"
            tooltip-placement="bottom"
            class="btn btn-default"
            tooltip-animation="false">
      <i class="fa fa-trash text-danger fa-lg"></i>
    </button>
    <button uib-tooltip="Save"
          ng-if="route.$editMode"
          class="btn btn-default"
          ng-click="saveRoute(route)"
          tooltip-placement="bottom"
          tooltip-animation="false">
      <i class="fa fa-check text-success fa-lg"></i>
    </button>
    <button uib-tooltip="Cancel"
          ng-if="route.$editMode"
          class="btn btn-default"
          ng-click="cancelEdit(route)"
          tooltip-placement="bottom"
          tooltip-animation="false">
      <i class="fa fa-times text-danger fa-lg"></i>
    </button>
  </div>
</div>

<div class="card" >
  <div class="front">
    <div class="content">
      <div class="main">
        <route-summary route="route"></route-summary>
      </div>
    </div>
  </div> <!-- end front panel -->
  <div class="back">
    <div class="content">
      <div class="main">
        <uib-tabset justified="true">
          <uib-tab ng-repeat="tab in tabs">
            <uib-tab-heading>
              <i class="fa fa-{{tab.icon}}"></i> {{tab.text}}
            </uib-tab-heading>
            <div class="panel panel-default">
              <div class="panel-body">
                <div ng-switch="tab.type">
                  <route-notes route="route" ng-switch-when="notes"></route-notes>
                  <route-media route="route" ng-switch-when="media"></route-media>
                  <route-ascents route="route" ng-switch-when="ascents"></route-ascents>
                  <route-builder route="route" ng-switch-when="builder"></route-builder>
                </div>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div> <!-- end back panel -->
</div> <!-- end card -->
