<div class="modal-unstyled slider-unstyled">
  <div class="modal-body">
    <div>
      <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides" active="slide.active">

      <div class="card-container manual-flip"
           ng-class="{hover: slide.$hover}"
           ng-init="route = slide.content">

        <card-route></card-route>
      </div>

      </uib-slide>
      </uib-carousel>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" ng-click="flipCard()">
      <i class="fa fa-undo fa-flip-vertical"></i> Flip
    </button>
    <button class="btn btn-primary" ng-click="closeModal()">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
