<main-navbar></main-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-3 hidden-xs">
      <profile-summary></profile-summary>
    </div>
    <div class="col-md-9 hidden-sm hidden-xs">
      <header-overview></header-overview>
    </div>
  </div>
  <hr class="hidden-xs hidden-sm">

  <div class="charts">
    <div class="visible-xs">
      <slider-charts routes="chartsVm.routes"></slider-charts>
    </div>

    <div class="hidden-xs">
      <grid-charts routes="chartsVm.routes"></grid-charts>
    </div>
  </div>

</div>
