<main-navbar></main-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-3 hidden-xs">
      <profile-summary></profile-summary>
    </div>
    <div class="col-md-9 hidden-sm hidden-xs">
      <header-overview></header-overview>
    </div>
  </div>
  <hr class="hidden-xs hidden-sm">

  <div class="panel panel-success climb-timeline">
    <div class="panel-heading hidden-xs">
      <h3 class="panel-title"><span class="fa fa-clock-o"></span> Timeline</h3>
    </div>

    <div class="panel-body">
      <p class="text-center climb-add">
        <button uib-tooltip="Add new route"
                class="btn btn-fab btn-raised btn-success"
                ng-click="timelineVm.addRoute()">
          <i class="fa fa-plus"></i>
        </button>
      </p>
      <routes-timeline></routes-timeline>
    </div>
  </div>
</div>
